{% extends 'base.html' %}
{% load i18n%}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'ceo-info'%}"> {%trans 'Руководство'%}</a>
        <a href="{% url 'orgStruct' %}" class='selected'>{% trans 'Структура' %}</a>
        <a href="{% url 'vacancies' %}">{%trans 'Вакансии'%}</a>
        <a href="{% url 'strategic-dev'%}">{% trans 'Стратегическое развитие' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Государственные закупки' %}</a>
        <a href="{% url 'compServ'%}">{% trans 'Комплаенс служба' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'accreditation'%}">{% trans 'Аккредитация' %}</a>
        <a href="{% url 'laborProtection' %}">{%trans 'Охрана труда'%}</a>
    </div>
    <div class="rules">
        <span class="Title"> {% trans 'Организационная структура' %} </span>
        {% if file %}
        <div class="documents">
            <img src="/media/{{file.file}}" width="100%"></img>
        </div>
        {% endif %}
        <div class="section-list">
            {% if deps %}
            {% for dep in deps %}
            <button class="accordion">{{dep.name}}</button>
            <div class="panel">
                <div class="institute__dev">
                    <div class="institute__dev-text">
                        {% for info in dep.info %}
                            {{info|linebreaksbr}}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/accordion.js"></script>
{% endblock %}
