{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="content-inner">

    <div class="rules">
        <span class="Title">{% trans 'Стратегические партнеры и международное сотрудничество' %}:</span>
        <div class="new-frame">
            <div class="institute__dev">
                <div class="institute__dev-title">
                    {{ datas.intro }}
                </div>
                <div class="institute__dev-text">
                    {% for data in datas.partners %}
                        {{data|linebreaksbr}}
                    {% endfor %}
                </div>
            </div>
        </div>


    </div>
</div>
</div>
{% endblock %}