{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'ceo-info'%}"> {%trans 'Руководство'%}</a>
        <a href="{% url 'orgStruct' %}">{% trans 'Структура' %}</a>
        <a href="{% url 'vacancies' %}">{%trans 'Вакансии'%}</a>
        <a href="{% url 'strategic-dev'%}">{% trans 'Стратегическое развитие' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Государственные закупки' %}</a>
        <a href="{% url 'compServ'%}" class='selected'>{% trans 'Комплаенс служба' %}</a>
        <a href="{% url 'antiCor'%}" >{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'accreditation'%}">{% trans 'Аккредитация' %}</a>
        <a href="{% url 'laborProtection' %}">{%trans 'Охрана труда'%}</a>
    </div>
    <div class="rules">
        <span class="Title"> {% trans 'Комплаенс служба' %} </span>
        <div class="rule-plates">
            <div class="new-frame">
                <div class="institute__dev">
                    <div class="rule-block">
                        <div class="institute__dev-text">
                            {% for file in files %}
                                <p><a href = "{% url 'compServDetails' fid=file.pk%}">{{file.title|linebreaksbr}}</a></p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}