{% extends 'base.html' %}
{%load i18n%}
{% block content %}
<div class="content-split">
    <div class="navigation">
        {% comment %} <a href="{% url 'viewSovet'%}" class='selected'>{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'strategic-dev'%}" >{% trans 'Стратегическое развитие' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Государственные закупки' %}</a>
        <a href="{% url 'compServ'%}">{% trans 'Комплаенс служба' %}</a>
        
        
        <a href="{% url 'accreditation'%}">{% trans 'Аккредитация' %}</a> {% endcomment %}

        <a href="{% url 'science'%}">{%trans 'Научные разработки'%}</a>
        <a href="{% url 'scienceSovet'%}">{%trans 'Научно-технический совет'%}</a>
        <a href="{% url 'plans'%}">{%trans 'Планы'%}</a>
        <a href="{% url 'science_achievments'%}">{%trans 'Достижения'%}</a>
        <a href="{% url 'LEK-list' %}" class='selected'>{%trans 'Локальная этическая комиссия по биоэтике'%}</a>
    </div>
    <div class="rules">
        {%if datas.title%}
        <span class="Title">{{datas.title}}</span>
        {%endif%}
        <div class="rule-plates">
            {%if datas.description%}
            <div class="new-frame">
                <div class="science__dev">
                    <h3 class="science__dev-title">{%trans 'Описание локальной этической комиссии'%}</h3>
                    <div class="science__dev-text">
                        {%for data in datas.description%}
                            {{data|linebreaksbr}}
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
            {% if datas.creation %}
            <div class="new-frame">
                <div class="science__dev">
                        <h3 class="science__dev-title">{%trans 'Приказ о создании локальной этической комиссии'%}</h3>
                        <p><a href = "{% url 'lek_creation_details' fid=datas.pk %}">{{datas.creation_name|linebreaksbr}}</a></p>
                </div>
            </div>
            {% endif %}
            {% if regulation %}
            <div class="new-frame">
                <div class="science__dev">
                        <h3 class="science__dev-title">{%trans 'Положение'%}</h3>
                        {%for data in regulation%}
                            <p><a href = "{% url 'lek_regulation_details' fid=data.pk%}">{{data.title|linebreaksbr}}</a></p>
                        {%endfor%}
                </div>
            </div>
            {% endif %}
            {%if plans %}
            <div class="new-frame">
                <div class="science__dev">
                        <h3 class="science__dev-title">{%trans 'Планы'%}</h3>
                            {%for plan in plans%}
                                <p><a href = "{% url 'lek_plan_details' fid=plan.pk%}">{{plan.title|linebreaksbr}}</a></p>
                            {%endfor%}
                </div>
            </div>
            {% endif %}
            {% if meetings %}
            <div class="new-frame">
                <div class="science__dev">
                        <h3 class="science__dev-title">{%trans 'Заседания'%}</h3>
                            {%for data in meetings%}
                                <p><a href = "{% url 'lek_meetings_details' fid=data.pk%}">{{data.title|linebreaksbr}}</a></p>
                            {%endfor%}
                </div>
            </div>
            {%endif%}
            {% if datas.instructions %}
            <div class="new-frame">
                <div class="science__dev">
                    <h3 class="science__dev-title">{%trans 'Инструкция по обращению в ЛЭК'%}</h3>
                    <div class="science__dev-text">
                        {%for data in datas.instructions%}
                        {{data|linebreaksbr}}
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
            {% if datas.standarts %}
            <div class="new-frame">
                <div class="science__dev">
                    <h3 class="science__dev-title">{%trans 'Стандартные операционные процедуры'%}</h3>
                    <div class="science__dev-text">
                        {%for data in datas.standarts%}
                        {{data|linebreaksbr}}
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
            {% if datas.contacts %}
            <div class="new-frame">
                <div class="science__dev">
                    <h3 class="science__dev-title">{%trans 'Контакты секретариата ЛЭК'%}</h3>
                    <div class="science__dev-text">
                        {%for data in datas.contacts%}
                        {{data|linebreaksbr}}
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
            {% if forms %}
            <div class="new-frame">
                <div class="science__dev">
                    <h3 class="science__dev-title">{%trans 'Формы документов для прохождения экспертизы ЛЭК'%}</h3>
                    <div class="science__dev-text">
                        {%for form in forms%}
                        <p><a href = {{form.link}}>{{form.title|linebreaksbr}}</a></p>
                        {%endfor%}
                    </div>
                </div>
            </div>
            {%endif%}
        </div>
    </div>
</div> 
{% endblock %}