{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="banner">
    <div class="back-img">
        <div class="question-inner nii">
            <div class="nii_information">
                <h2>{%trans 'Миссия'%}</h2>
                <p>{{content.mission}}</p>
            </div>
            <div class="nii_information">
                <h2>{%trans 'Видение Института'%}</h2>
                <p>{{content.view}}</p>
            </div>
        </div>
        <div class="menu">
            <a href="{% url 'histories' %}">{%trans 'История'%}</a>
            <a href="{% url 'science' %}">{%trans 'Наука'%}</a>
            <a href="{% url 'medicine' %}">{%trans 'Медицина'%}</a>
            <a href="{% url 'booking' %}">{%trans 'Бронирование'%}</a>
        </div>
    </div>
</div>
<div class="question-block">
    {% comment %} <div class="ban"> {% endcomment %}
        {% comment %} <div class="info">
            <p class="header">
                {% trans 'Руководитель' %}
            </p>
            <p class="header2">{{ ceo.name }}</p>
            <div class="photo-2">
                <img src="../media/{{ ceo.photo }}" alt="" />
            </div>
            <p class="phrase">
                {{ content.ceo_appeal }}<br />
                {% trans 'С уважением, директор' %} {{ ceo.name }}.
            </p>
            <a href="{% url 'add-review' %}" class="btn">{% trans 'Оставить Отзыв' %}</a>
            <a href="{% url 'reviews' %}" class="btn2 mg-l">{% trans 'Посмотреть Отзывы' %}</a>
        </div>
        <div class="photo">
            <img src="../media/{{ ceo.photo }}" alt="" />
        </div> {% endcomment %}
         {% comment %} <span>В соответствии с пунктом 4 Правил размещения информации на интернет-портале Открытых
        данных, утвержденных приказом Министра информации и общественного развития Республики Казахстан от 28 апреля
        2021 года № 144, и во исполнение поручения Министерства здравоохранения Республики Казахстан от 22 августа 2023
        года № 14-1-14/8699-И, а также в соответствии со статьей 16 Закона Республики Казахстан от 16 ноября 2015 года №
        401-V "О доступе к информации", РГП на ПХВ НИИ курортологии и медицинской реабилитации Министерства
        здравоохранения Республики Казахстан руководствуется принципом прозрачности и открытости в своей деятельности.</span>
        <a href="{% url 'openInfo' %}"  class="btn">{%trans 'Посмотреть приказ'%}</a>
    </div>
    <div> {% endcomment %}
    <h1>{% trans 'Последние новости' %}</h1>
    <div class="swiper sw3">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper slider-wrapper">
            <!-- Slides -->
            {% for post in news %}
            <div class="swiper-slide">
                <a class="news-item slider-item" href="{% url 'new_detail' pid=post.pk %}">
                    <div class="news-pic" {% if post.att.type == 'img' %} style="background-image: url(/media/{{post.att.file}});" {% else %} style="background-image: url(../../static/assets/no-content-banner.jpg);" {% endif %}>
                    </div>
                    <p class="news-date">{{post.date}}</p>
                    <p class="news-title">{{post.title}}</p>
                </a>
            </div>
            {%endfor%}
            
        </div>
        <!-- If we need pagination -->
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
</div>

<div class="small-banners">
    <!-- <a href="{% url 'symbols' %}" class="sm-banner"> -->
    <a href="https://www.akorda.kz/ru/state_symbols/about_state_symbols" class="sm-banner" target="_blank" rel="noopener noreferrer">
        <div>
            <p>
                {% trans 'Государственные символы' %}
            </p>
        </div>
        <img src="../static/assets/banner-1.jpg" alt="" />
    </a>
    <div class="swiper sw1">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <a href="https://diakom.gov.kz/ru" class="slider-content"><img src="../static/assets/107.jpg"
                        alt="" /></a>
            </div>
            <div class="swiper-slide">
                <a href="http://adilet.zan.kz/" class="slider-content"><img src="../static/assets/adlet.jpg"
                        alt="" /></a>
            </div>
            <div class="swiper-slide">
                <a href="http://www.akorda.kz/ru" class="slider-content"><img src="../static/assets/b1.jpg"
                        alt="" /></a>
            </div>
            <div class="swiper-slide">
                <a href="http://egov.kz/cms/ru" class="slider-content"><img src="../static/assets/b3-1.jpg"
                        alt="" /></a>
            </div>
            <div class="swiper-slide">
                <a href="https://primeminister.kz/" class="slider-content"><img src="../static/assets/b3.jpg"
                        alt="" /></a>
            </div>
            <div class="swiper-slide">
                <a href="http://parlam.kz/" class="slider-content"><img src="../static/assets/b4.jpg" alt="" /></a>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <!-- If we need navigation buttons -->
    </div>

    <!-- <a href="{% url 'messages' %}" class="sm-banner"> -->
    <a href="https://www.akorda.kz/ru/poslanie-glavy-gosudarstva-kasym-zhomarta-tokaeva-narodu-kazahstana-kazahstan-v-epohu-iskusstvennogo-intellekta-aktualnye-zadachi-i-ih-resheniya-cherez-cifrovuyu-transformaciyu-885145" class="sm-banner" target="_blank" rel="noopener noreferrer">
        <div>
            <p>
                {% trans 'Послание Главы государства Касым-Жомарта Токаева народу Казахстана' %}
            </p>
        </div>
        <img src="../static/assets/banner-2.jpg" alt="" />
    </a>
</div>
<div class="astana-banner">
    <div class="swiper sw">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
                <a target="_blank"
                    href="https://www.gov.kz/memleket/entities/dsm/press/events/details/25580?lang=kk"><img
                        src="../static/assets/banner1.png" alt="" /></a>
            </div>
            <div class="swiper-slide">
                <a target="_blank" href="https://www.gov.kz/memleket/entities/anticorruption?lang=kk"><img
                        src="../static/assets/banner2.jpg" alt="" /></a>
            </div>
            <div class="swiper-slide">
                <a target="_blank" href="https://fms.kz/kz/useful-to-know/kak-lechitsia-za-rubezhom/"><img
                        src="../static/assets/banner3.jpg" alt="" /></a>
            </div>
            <div class="swiper-slide">
                <span><img src="../static/assets/banner4.jpg" alt="" /></span>
            </div>
            <div class="swiper-slide">
                <a target="_blank" href="https://www.gov.kz/memleket/entities/vss/activities/424?lang=kk"><img
                        src="../static/assets/banner5.jpg" alt="" /></a>
            </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination pag"></div>
        <!-- If we need navigation buttons -->
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="../static/script.js"></script>
{% endblock %}