{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'blogCEO'%}" class = 'selected'>{% trans 'Блог Руководителя' %}</a>
        <a href="{% url 'appeal'%}">{% trans 'Для Обращений' %}</a>
        <a href="{% url 'contacts'%}">{%trans 'Контакты'%}</a>
        <a href="{% url 'reviews'%}">{%trans 'Отзывы'%}</a>
    </div>
    <div class="rules">
        <div class="new-review">
            <h1>{% trans 'Блог Руководителя' %}</h1>
                {% if  user.is_authenticated and user.is_staff %}
                    <a href = "{% url 'post_new' %}" class="btn2"> {% trans 'Добавить пост' %}</a>
                {% endif %}
        </div>        {% for post in post_list %}
        <div class="new-frame">
            <div class="frame-header-block">
                <span class="frame-header mg-t">{{post.title}}</span>
                
                <p style="font-weight: 300; font-size: 15px;"><i>{%trans 'Опубликовано'%}: </i><b>{{post.author.name}}</b></p>
            </div>
            <hr>
            <div class="frame-content"><p>{{post.preview}}</p></div>
            <div class="frame-btn">
                <p class="date">{{post.date}}</p>
                <a href="{% url 'post_detail' pid=post.pk %}" class="btn">{%trans 'Читать далее'%}...</a>
            </div>
            
        </div>
        
    {% endfor %}
    </div>
</div>
</div>
{% endblock %}