{% extends 'base.html' %}
{% load  i18n %}
{% block content %} 
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'science'%}" class = 'selected'>{%trans 'Научные разработки'%}</a>
        <a href="{% url 'scienceSovet'%}">{%trans 'Научно-технический совет'%}</a>
        <a href="{% url 'plans'%}">{%trans 'Планы'%}</a>
        <a href="{% url 'science_achievments'%}">{%trans 'Достижения'%}</a>
        <a href="{% url 'LEK-list'%}">{%trans 'Локальная этическая комиссия по биоэтике'%}</a>
    </div>
    <div class="rules">
        <span class="Title">{% trans 'Научные исследования и научно-методическое обеспечение в сфере курортологии и восстановительного лечения' %}:</span>
        {% for data in datas %}
        <div class="rule-plates">
            <div class="new-frame">
                <div class="science__dev">
                    <div class="science__dev-title">
                        {{ data.title }}
                    </div>

                    {% if data.addInfoTitle %}
                        <div class="science__dev-subtitle">
                            {{ data.addInfoTitle }}
                        </div>
                    {% endif %}

                    {% if data.addInfo %}
                        <div class="science__dev-text">
                            {% for info in data.addInfo %}
                                {{ info|linebreaksbr }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}