{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'science'%}">{%trans 'Научные разработки'%}</a>
        <a href="{% url 'scienceSovet'%}">{%trans 'Научно-технический совет'%}</a>
        <a href="{% url 'plans'%}">{%trans 'Планы'%}</a>
        <a href="{% url 'science_achievments'%}" class='selected'>{%trans 'Достижения'%}</a>
        <a href="{% url 'LEK-list'%}">{%trans 'Локальная этическая комиссия по биоэтике'%}</a>
    </div>
    <div class="rules">
        <span class="Title">{%trans 'Достижения'%}</span>
        <div class="rule-plates">
                {% for science in sciences %}
            <div class="new-frame">
                <div class="science__dev">
                    {% if science.name %}
                        <h3 class="science__dev-title">{{ science.name }}</h3>
                    {% endif %}

                    {% if science.info %}
                        <iframe class="science__dev-iframe--pdf" src="/media/{{ science.info }}"></iframe>
                    {% endif %}
                </div>
            </div>
            {% endfor %}               
        </div>       
    </div>
</div>
{% endblock %}