{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'science'%}">{%trans 'Научные разработки'%}</a>
        <a href="{% url 'scienceSovet'%}">{%trans 'Научно-технический совет'%}</a>
        <a href="{% url 'plans'%}">{%trans 'Планы'%}</a>
        <a href="{% url 'science_achievments'%}" class='selected'>{%trans 'Достижения'%}</a>
        <a href="{% url 'LEK-list'%}">{%trans 'Локальная этическая комиссия по биоэтике'%}</a>
    </div>
    <div class="rules">
        <span class="Title">{%trans 'Достижения'%}</span>
        <div class="rule-plates">
            <div class="new-frame">

                {# ЦИКЛ ДЛЯ ВСЕХ ДОКУМЕНТОВ #}
                {% for science in sciences %}
                    <div class="sci_doc" style="margin-bottom: 30px;">
                        {% if science.name %}
                            <h2>{{ science.name }}</h2>
                        {% endif %}

                        {% if science.info %}
                            <iframe src="/media/{{ science.info }}" class="sci_block"></iframe>
                        {% endif %}
                    </div>
                {% empty %}
                    <p>{%trans 'Нет доступных документов'%}</p>
                {% endfor %}

            </div>            
        </div>          
    </div>
</div>
{% endblock %}