{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'doctors' %}" class='selected'>{%trans 'Наши врачи'%}</a>
        <a href="{% url 'teachers'%}">{%trans 'Наши педагоги'%}</a>
    </div>
    <div class="rules">
        {% if datas_list %}
        <div class="rule-plates">
            {% for datas in datas_list %}
            <div class="new-frame">
                <div class="institute__dev">
                    <div class="institute__dev-photo">
                        {% if datas.photo %}
                            <img src="{{ datas.photo.url }}" alt="фото">
                        {% endif %}
                    </div>

                    {% if datas.title %}
                        <span class="institute__dev-title">{{ datas.title }}</span>
                    {% endif %}

                    <div class="institute__dev-text">
                        {% for line in datas.content %}
                            <p>{{ line }}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}