{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'doctors' %}" >{%trans 'Наши врачи'%}</a>
        <a href="{% url 'teachers'%}" class='selected'>{%trans 'Наши педагоги'%}</a>
    </div>
    <div class="rules">
        {%if datas%}
            {%if datas.title%}
                <span class="Title">{{datas.title}}</span>
            {%endif%}
            {%if datas.content%}
                <div class="rule-plates">
                    <div class="new-frame">
                        <div class="photo-people">
                            {% if datas.photo %}
                                <img src="{{ datas.photo.url }}" alt="фото">
                            {% else %}
                                <p>Фото не загружено</p>
                            {% endif %}
                        </div>
                        
                        {%for data in datas.content%}
                        <p>{{data}}</p>
                        {%endfor%}
                    </div>
                </div>
            {%endif%}
        {%endif%}
    </div>
</div>
</div>
{% endblock %}