{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-inner">
    
    <div class="rules">        
        <div class="rule-plates">
            <h2 class="Title">{% trans 'Контакты' %}</h2>
            <p class="table-title">{%trans 'РГП на ПХВ НИИ курортологии и медицинской реабилитации МЗ РК'%}:</p>
            <div class="tables">
                <table >
                
                    <tr>
                        <th>{% trans 'ФИО' %}</th> <th>{% trans 'Должность' %}</th> <th>{% trans 'Тел. номер' %}</th> <th>{% trans 'Эл. почта' %}</th> <th>{% trans 'Дни и время приема' %}</th>
                    </tr>
                    {% for manager in managers %}
                        <tr>
                            <td>{{manager.name}}</td> <td>{{manager.post}}</td> <td style="white-space: nowrap">{{manager.phone}}</td> <td>{{manager.email}}</td><td>{{manager.reception}}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            
            <p class="table-title">{%trans 'Уполномоченные лица по вопросам доступа к информации'%}:</p>
            <div class="tables">
                <table >
                
                    <tr>
                        <th>{% trans 'ФИО' %}</th> <th>{% trans 'Должность' %}</th> <th>{% trans 'Тел. номер' %}</th> 
                    </tr>
                    {% for person in infoAccess %}
                        <tr>
                            <td>{{person.name}}</td> <td>{{person.post}}</td> <td>{{person.phone}}</td> 
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <p class="table-title">
            {% trans 'Контакты РГП на ПХВ НИИ курортологии и медицинской реабилитации МЗ РК' %}:
            </p>

            <div class="contacts-card">
                <div class="contacts-grid">
                    {% for contact in contacts %}
                    <div class="contact-item">
                        <div class="contact-title">{{ contact.title }}</div>
                        <div class="contact-info">{{ contact.info }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div> 

{% endblock %}