{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'gobmp'%}" >{% trans 'Путевки по ГОБМП' %}</a>
        <a href="{% url 'rules'%}" class='selected'>{% trans 'Правила санатория' %}</a>
    </div>
    <div class="rules">
        <span class="Title">{% trans 'Информация для пациентов' %}:</span>
        <div class="rule-plates">
            <div class="new-frame">
                <div class="institute__dev">
                    <h2 class="institute__dev-title">{% trans 'Права пациентов' %}</h2>
                    {% for rule in rules %}
                    <div class="rule-block">
                        <h3 class="institute__dev-subtitle">{{ rule.title }}</h3>
                        <div class="institute__dev-text">
                            {% for part in rule.info_parts %}
                                <p>{{ part }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}