{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'ceo-info'%}"> {%trans 'Руководство'%}</a>
        <a href="{% url 'orgStruct' %}">{% trans 'Структура' %}</a>
        <a href="{% url 'vacancies' %}">{%trans 'Вакансии'%}</a>
        <a href="{% url 'strategic-dev'%}" class='selected'>{% trans 'Стратегическое развитие' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Государственные закупки' %}</a>
        <a href="{% url 'compServ'%}">{% trans 'Комплаенс служба' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'accreditation'%}">{% trans 'Аккредитация' %}</a>
        <a href="{% url 'laborProtection' %}">{%trans 'Охрана труда'%}</a>
    </div>
    <div class="rules">        
        <h2 class="Title">{%trans 'Стратегическое развитие'%}</h2>
        <div class="rule-plates">
            <div class="new-frame">
                <div class="institute__dev">
                    <div class="institute__dev-docs">
                        {% if stratDevs %}
                            <div class="institute__dev-table" role="table" aria-label="{% trans 'Документы' %}">
                                <div class="institute__dev-thead" role="rowgroup">
                                    <div class="institute__dev-tr institute__dev-tr--head" role="row">
                                        <div class="institute__dev-th" role="columnheader">{% trans 'Название' %}</div>
                                        <div class="institute__dev-th institute__dev-th--right" role="columnheader">{% trans 'Скачать' %}</div>
                                    </div>
                                </div>

                                <div class="institute__dev-tbody" role="rowgroup">
                                    {% for post in stratDevs %}
                                        <div class="institute__dev-tr" role="row">
                                            <div class="institute__dev-td" role="cell">
                                                <span class="institute__dev-name">{{ post.name }}</span>
                                            </div>

                                            <div class="institute__dev-td institute__dev-td--right" role="cell">
                                                <a class="institute__dev-download"
                                                href="{% url 'download_file' sid=post.pk %}">
                                                    {% trans 'Скачать' %}
                                                </a>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}