{% extends 'base.html' %}
{% load  i18n %}
{% block content %}
<div class="content-split">
    <div class="navigation">
        <a href="{% url 'viewSovet'%}">{% trans 'Наблюдательный совет' %}</a>
        <a href="{% url 'ceo-info'%}"> {%trans 'Руководство'%}</a>
        <a href="{% url 'orgStruct' %}">{% trans 'Структура' %}</a>
        <a href="{% url 'vacancies' %}">{%trans 'Вакансии'%}</a>
        <a href="{% url 'strategic-dev'%}">{% trans 'Стратегическое развитие' %}</a>
        <a href="{% url 'ads'%}">{% trans 'Государственные закупки' %}</a>
        <a href="{% url 'compServ'%}">{% trans 'Комплаенс служба' %}</a>
        <a href="{% url 'antiCor'%}">{% trans 'Противодействие коррупции' %}</a>
        <a href="{% url 'accreditation'%}" class="selected">{% trans 'Аккредитация' %}</a>
        <a href="{% url 'laborProtection' %}">{%trans 'Охрана труда'%}</a>
    </div>
    <div class="rules">
        <span class="Title">{% trans 'Аккредитация' %}:</span>
        <div class="rule-plates">
            <div class="new-frame">
                <div class="institute__dev">
                    <h1 class="institute__dev-title">{%trans 'Научная аккредитация:'%}</h1>
                    <div class="institute__dev-text">
                        {% for post in posts %}
                            {%if post.science%}
                                <p><a href="{% url 'accredit_detail' pid=post.pk %}">{{ post.title }}</a></p>
                            {%endif%}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="new-frame">
                <div class="institute__dev">
                    <h1 class="institute__dev-title">{%trans 'Медицинская аккредитация:'%}</h1>
                    <div class="institute__dev-text">
                        {% for post in posts %}
                            {%if post.medicine%}
                                <p><a href="{% url 'accredit_detail' pid=post.pk %}">{{ post.title }}</a></p>
                            {%endif%}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}